# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
.venv/
.venv_test/
_trial_temp/
tests/key/
tests/_trial_temp/
sip*

# Log files
log*
*.csv

# PyCharm directories
.idea/

# Post-installation folders
key/*
