# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
.venv/
.venv_test/
_trial_temp/
tests/key/
tests/_trial_temp/
sip*

# Log files
log*
info.log*
debug.log*
error.log*
*.csv

# PyCharm directories
.idea/*

# Post-installation folders
key/*

# Old coverage tests
tests/.coverage
