kiss==2.0.2
mock==1.0.1
pyOpenSSL==0.15.1
pyserial==2.7
pytz==2015.4
qt4reactor==1.6
service-identity==14.0.0
twisted==15.2.1
tinyrpc==0.5
requests==2.8.1
ndg-httpsclient==0.4.0
aprs==4.0.0
Sphinx
six
cryptography==1.1.1
zope.interface==4.1.3
