argparse==1.2.1
aprs==4.0.0
cryptography==1.2.3
kiss==3.1.1
mock==1.3.0
ndg-httpsclient==0.4.0
pyOpenSSL==0.15.1
pyserial==3.0.1
pytz==2015.7
qt4reactor==1.6
requests==2.9.1
service-identity==14.0.0
six==1.10.0
twisted==15.5.0
tinyrpc==0.5
zope.interface==4.1.3
